obj
bin
Database
TestResults
*.exe
*.dll
Polar.DB/bin
Polar.DB/obj
Polar.Cells/bin
Polar.Cells/obj
Polar.PagedStreams/bin
Polar.PagedStreams/obj
Polar.CellIndexes/bin
Polar.CellIndexes/obj
ConsoleSparql/bin
ConsoleSparql/obj
RDFCommon/bin
RDFCommon/obj
RDFStore/bin
RDFStore/obj
RDFTurtleParser/bin
RDFTurtleParser/obj
SparqlQuery/bin
SparqlQuery/obj
UnitTestRDFStore/bin
UnitTestRDFStore/obj
/.vs
config.ini
config.ini
